In [1]:
import pandas as pd
import os

In [4]:
bts_data_path = os.path.abspath("./bts_data")
sqlite_db_path = os.path.abspath("./bts_data/bts_data.db")

df_list = []

for filename in os.listdir(bts_data_path):
    if filename.endswith(".csv"):
        df = pd.read_csv(os.path.join(bts_data_path, filename))
        df_list.append(df)

df = pd.concat(df_list, ignore_index=True)

df[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']] = df[['CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']].fillna(0)
df

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10423,1042302,30423,...,0.0,NaN,0.0,239.0,1698.0,0.0,0.0,0.0,0.0,0.0
1,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,237.0,1698.0,0.0,0.0,0.0,0.0,0.0
2,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,118.0,728.0,0.0,0.0,0.0,0.0,0.0
3,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,128.0,728.0,0.0,0.0,0.0,0.0,0.0
4,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,120.0,728.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560834,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,14685,1468502,34685,...,0.0,NaN,0.0,143.0,901.0,0.0,0.0,0.0,0.0,0.0
560835,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,14685,1468502,34685,...,0.0,NaN,0.0,141.0,901.0,0.0,0.0,0.0,0.0,0.0
560836,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,14730,1473004,33044,...,0.0,NaN,0.0,146.0,829.0,0.0,0.0,0.0,0.0,0.0
560837,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,14730,1473004,33044,...,0.0,NaN,0.0,168.0,829.0,0.0,31.0,31.0,0.0,57.0
560838,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,15016,1501606,31123,...,0.0,NaN,0.0,164.0,1047.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df_bos = df[df['ORIGIN'] == 'BOS']
df_bos

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,237.0,1698.0,0.0,0.0,0.0,0.0,0.0
2,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,118.0,728.0,0.0,0.0,0.0,0.0,0.0
3,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,128.0,728.0,0.0,0.0,0.0,0.0,0.0
4,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,120.0,728.0,0.0,0.0,0.0,0.0,0.0
5,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,133.0,728.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560766,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,170.0,901.0,0.0,0.0,0.0,0.0,0.0
560767,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,191.0,901.0,0.0,0.0,14.0,0.0,180.0
560768,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,138.0,829.0,0.0,0.0,0.0,0.0,51.0
560769,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,150.0,829.0,0.0,0.0,0.0,0.0,74.0
560770,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,177.0,1047.0,0.0,0.0,0.0,0.0,0.0

In [15]:
major_airports = ['ATL', 'AUS', 'BWI', 'CLT', 'MDW', 'ORD', 'DFW', 'DEN', 'DTW', 'FLL', 'IAH', 'LAS', 'LAX', 'MIA', 'MSP', 'BNA', 'JFK', 'LGA', 'EWR', 'MCO', 'PHL', 'PHX', 'SLC', 'SAN', 'SFO', 'SEA', 'TPA', 'DCA', 'IAD']
df_bos = df_bos[df_bos['DEST'].isin(major_airports)]

df_bos

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,237.0,1698.0,0.0,0.0,0.0,0.0,0.0
2,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,118.0,728.0,0.0,0.0,0.0,0.0,0.0
3,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,128.0,728.0,0.0,0.0,0.0,0.0,0.0
4,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,120.0,728.0,0.0,0.0,0.0,0.0,0.0
5,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,133.0,728.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560755,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,159.0,867.0,0.0,0.0,0.0,0.0,0.0
560756,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,87.0,280.0,0.0,0.0,0.0,0.0,0.0
560757,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,93.0,280.0,0.0,0.0,34.0,0.0,0.0
560758,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,92.0,280.0,0.0,0.0,2.0,0.0,44.0
560759,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,88.0,280.0,0.0,0.0,0.0,0.0,64.0

In [16]:
len(df_bos[df_bos['DEP_DEL15'] == 1]) / len(df_bos)

0.2112304120719675

In [17]:
df_bos['DEP_DEL15'].value_counts()

DEP_DEL15
0.0    159533
1.0     43674
Name: count, dtype: int64

In [33]:
df_bos['MONTH_YEAR'] = pd.to_datetime(df_bos['FL_DATE']).dt.to_period('M')
df_bos

/var/folders/93/79pp4_gj28nf3ddg6t01dgnr0000gn/T/ipykernel_21379/2175839547.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_bos['MONTH_YEAR'] = pd.to_datetime(df_bos['FL_DATE']).dt.to_period('M')
/var/folders/93/79pp4_gj28nf3ddg6t01dgnr0000gn/T/ipykernel_21379/2175839547.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bos['MONTH_YEAR'] = pd.to_datetime(df_bos['FL_DATE']).dt.to_period('M')

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,MONTH_YEAR,stratum
1,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,237.0,1698.0,0.0,0.0,0.0,0.0,0.0,2023-07,AUS_2023-07
2,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,118.0,728.0,0.0,0.0,0.0,0.0,0.0,2023-07,CLT_2023-07
3,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,128.0,728.0,0.0,0.0,0.0,0.0,0.0,2023-07,CLT_2023-07
4,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,120.0,728.0,0.0,0.0,0.0,0.0,0.0,2023-07,CLT_2023-07
5,2023,7,1,6,7/1/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,133.0,728.0,0.0,0.0,0.0,0.0,0.0,2023-07,CLT_2023-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560755,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,159.0,867.0,0.0,0.0,0.0,0.0,0.0,2023-04,ORD_2023-04
560756,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,87.0,280.0,0.0,0.0,0.0,0.0,0.0,2023-04,PHL_2023-04
560757,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,93.0,280.0,0.0,0.0,34.0,0.0,0.0,2023-04,PHL_2023-04
560758,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,92.0,280.0,0.0,0.0,2.0,0.0,44.0,2023-04,PHL_2023-04
560759,2023,4,30,7,4/30/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,88.0,280.0,0.0,0.0,0.0,0.0,64.0,2023-04,PHL_2023-04

In [56]:
df_majority = df_bos[df_bos['DEP_DEL15'] == 0]
df_minority = df_bos[df_bos['DEP_DEL15'] == 1]

n_samples_per_stratum = 100

def stratified_undersample(group, n_samples):
    if len(group) > n_samples:
        return group.sample(n=n_samples, random_state=42)
    else:
        return group
    
# Apply undersampling to the majority class while keeping the distribution
df_majority_undersampled = (
    df_majority.groupby('stratum', group_keys=False)
    .apply(lambda group: stratified_undersample(group, n_samples_per_stratum))
)

# Combine undersampled majority with all minority class rows
df_balanced = pd.concat([df_majority_undersampled, df_minority])
df_balanced = df_balanced.sample(frac=1).reset_index(drop=True)

df_balanced

/var/folders/93/79pp4_gj28nf3ddg6t01dgnr0000gn/T/ipykernel_21379/3108213092.py:18: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda group: stratified_undersample(group, n_samples_per_stratum))

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,MONTH_YEAR,stratum
0,2023,7,24,1,7/24/2023 12:00:00 AM,UA,19977,10721,1072102,30721,...,0.0,373.0,2704.0,0.0,0.0,0.0,0.0,0.0,2023-07,SFO_2023-07
1,2024,6,19,3,6/19/2024 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,165.0,867.0,0.0,0.0,0.0,0.0,19.0,2024-06,ORD_2024-06
2,2023,2,6,1,2/6/2023 12:00:00 AM,DL,19790,10721,1072102,30721,...,0.0,144.0,946.0,0.0,0.0,0.0,0.0,0.0,2023-02,ATL_2023-02
3,2024,8,30,5,8/30/2024 12:00:00 AM,F9,20436,10721,1072102,30721,...,0.0,151.0,728.0,8.0,0.0,9.0,0.0,7.0,2024-08,CLT_2024-08
4,2024,5,21,2,5/21/2024 12:00:00 AM,DL,19790,10721,1072102,30721,...,0.0,152.0,946.0,31.0,0.0,0.0,0.0,0.0,2024-05,ATL_2024-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108900,2023,8,14,1,8/14/2023 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,368.0,2496.0,0.0,0.0,0.0,0.0,0.0,2023-08,SEA_2023-08
108901,2024,9,10,2,9/10/2024 12:00:00 AM,DL,19790,10721,1072102,30721,...,0.0,303.0,2105.0,0.0,0.0,0.0,0.0,0.0,2024-09,SLC_2024-09
108902,2024,4,3,3,4/3/2024 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,108.0,399.0,17.0,0.0,0.0,0.0,0.0,2024-04,DCA_2024-04
108903,2022,11,22,2,11/22/2022 12:00:00 AM,NK,20416,10721,1072102,30721,...,0.0,203.0,1121.0,0.0,0.0,0.0,0.0,0.0,2022-11,MCO_2022-11
108904,2024,2,17,6,2/17/2024 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,384.0,2611.0,70.0,0.0,0.0,0.0,48.0,2024-02,LAX_2024-02

In [62]:
df_bos_sampled = df_balanced.sample(n=20000, random_state=24)

df_bos_sampled = df_bos_sampled.drop(columns=['MONTH_YEAR', 'stratum']).reset_index(drop=True)
df_bos_sampled

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,CANCELLED,CANCELLATION_CODE,DIVERTED,ACTUAL_ELAPSED_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2023,7,20,4,7/20/2023 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,NaN,0.0,126.0,728.0,0.0,0.0,0.0,0.0,0.0
1,2023,2,24,5,2/24/2023 12:00:00 AM,YX,20452,10721,1072102,30721,...,0.0,NaN,0.0,85.0,184.0,0.0,51.0,0.0,0.0,0.0
2,2024,5,10,5,5/10/2024 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,135.0,728.0,0.0,0.0,0.0,0.0,0.0
3,2023,9,28,4,9/28/2023 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,NaN,0.0,356.0,2588.0,0.0,0.0,0.0,0.0,0.0
4,2023,8,15,2,8/15/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,245.0,1258.0,0.0,0.0,31.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2023,6,11,7,6/11/2023 12:00:00 AM,AA,19805,10721,1072102,30721,...,0.0,NaN,0.0,72.0,280.0,0.0,0.0,0.0,0.0,0.0
19996,2024,8,17,6,8/17/2024 12:00:00 AM,DL,19790,10721,1072102,30721,...,0.0,NaN,0.0,260.0,1698.0,0.0,0.0,0.0,0.0,0.0
19997,2023,7,30,7,7/30/2023 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,NaN,0.0,291.0,1754.0,197.0,0.0,17.0,0.0,0.0
19998,2023,3,2,4,3/2/2023 12:00:00 AM,UA,19977,10721,1072102,30721,...,0.0,NaN,0.0,87.0,200.0,6.0,0.0,0.0,0.0,29.0
19999,2023,5,31,3,5/31/2023 12:00:00 AM,B6,20409,10721,1072102,30721,...,0.0,NaN,0.0,80.0,187.0,0.0,0.0,0.0,0.0,0.0